<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      layout:decorate="layout/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>HomeScape</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #81aea7 ">
<div class="row" style="margin-top: 20px">
    <div class="col-sm-2" align="center">
        <form action="/">
            <button type="submit" class="btn btn-dark" style="align-items: center">Back to main page</button>
        </form>
    </div>
    <div class="col-sm-10" align="center">
        <h1>HomeScape</h1>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-7" style="padding-left: 20px">
        <div class="form-group">
            <h3><b>Game: </b>
                <p th:text="${game.name}"></p></h3>
        </div>
        Steps
        <form th:object="${newStep}" method="POST">
            <div class="form-group">
                <label for="description">Description of place</label>
                <input type="text" class="form-control" id="description" placeholder="Description"
                       th:field="*{description}" style="width: 30%">
                <small id="description2" class="form-text text-muted">Description of place
                </small>
            </div>
            <div class="form-group">
                <label for="code">Enter code to unlock next step</label>
                <input type="text" class="form-control" id="code" placeholder="Code" th:field="*{code}" style="width: 30%">
                <small id="code2" class="form-text text-muted">Short code
                </small>
            </div>
            <button type="submit" class="btn btn-success">Create Step</button>
        </form>
    </div>

    <div class="col-sm-5">
        <h3>List of steps</h3>
        <table th:each="step : ${stepList}">
            <ol>
                <tr>
                    <td><li>Step</li></td>
                    <td><a class="btn btn-success" th:href="@{'/game/'+${game.id}+'/'+${step.id}}">Edit</a>
                        <a class="btn btn-danger" th:href="@{'/game/delete-step/'+${game.id}+'/'+${step.id}}">Delete</a></td>



                <tr>
                    <td>Description:</td>
                    <td th:text="${step.description}"></td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td th:text="${step.code}"></td>
                </tr>
            </ol>
        </table>
        <a class="btn btn-success" th:href="@{'/game/done/'+${game.id}}">DONE</a>
        <a class="btn btn-dark" th:href="@{'/game/building/'+${game.id}}">BUILDING</a>
    </div>

</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>