<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      layout:decorate="layout/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>HomeScape</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #81aea7 ">
<div class="row" style="margin-top: 20px">
    <div class="col-sm-2" align="center">
        <form action="/">
            <button type="submit" class="btn btn-dark" style="align-items: center">Back to main page</button>
        </form>
    </div>
    <div class="col-sm-10" align="center">
        <h1>HomeScape</h1>
    </div>
</div>
<div align="center">
<table>
    <tr>
        <td><b>Name</b></td>
        <td><b>Status</b></td>
    </tr>
    <tr th:each="game : ${games}">
        <td th:text="${game.name}" style="font-weight: bold"></td>
        <td th:text="${game.status.DONE}" style="font-weight: bold"></td>
        <td><a class="btn btn-success" th:href="@{'/play/'+${game.id}} ">Play</a></td>
    </tr>
</table>
</div>
</body>
</html>